body {

    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

header {
    font-size: 1rem;
    text-align: center;

}

/*Títulos*/

#subtitulo {
    text-align: center;
    font-size: 1.2rem;
   
}
 

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;    
}


/*Imágenes*/

.imagen1 {

    display: block;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    height: auto;
    width: 50%;
    border: 0.4rem solid #03745d;
    
}

/*agrupo las imágenes para aplicarles los mismos valores a todas*/
.imagen2, .imagen3, .imagen4, .imagen5, .imagen6, .imagen7, .imagen8, .imagen9  {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    height: auto;
    width: 35%;
    
}    

.imagen10  {
    display: block;
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto;
    height: auto;
    width: 35%;
} 
/*Video*/
iframe {
    max-width: 100%;
    display: block;
    margin: auto;

}

section p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 1rem;
    margin: auto;
    max-width: 50rem;
    
}

/*Menú de navegación*/

nav a {
   text-decoration: none;
   font-size: 1.2rem;
   
    
}   
nav ul {
    display: flex; /*mueve a todo como un bloque*/
    justify-content: center; 
    list-style-type: none;
    gap: 20px; /*espacio estre los titulos de los links*/
  
}

a:link {
    color: #03745d;
}

a:visited {
    color: #03745d;
}

a:hover {
    color: #be4dbe;
}

a:active {
    color: #be4dbe;
}

#contenedor  {
    max-width: 100%;
}

    
/*Pie de página*/
footer {
    text-align: center;
    padding: 20px;
}  

