body {
    background-image: url('../img/fondo.png');

}

header {
    font-size: 1rem;
    text-align: center;
    background-color: antiquewhite;


}

h2 {
    font-size: 1.2rem;
    text-align: center;
    background-color: antiquewhite;    

}

h3 {
    font-size: 1.2rem;
    text-align: center;
    background-color: antiquewhite;    
}

.nombre {
    font-size: 1rem;
    font-weight: 600;
}

/*Video*/
iframe {
    max-width: 100%;
    display: block;
    margin: auto;

}

/*Imágenes*/
.imagen1 {

    display: block;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    height: auto;
    width: 80%;
    border: 0.4rem solid #000000;;
        
}

.imagen2 {

    display: flex;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    height: auto;
    width: 50%;
    border: 0.4rem solid #000000;;
        
}


.imagenes {

    display: flex;
    justify-content: center;
    gap: 5%;

        
}


    
section p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 1rem;
    margin: auto;
    max-width: 60rem;
    background-color: antiquewhite;
    
}

article ul {
    font-size: 1.2rem;
    text-align: center;
    background-color: antiquewhite;
    list-style-type: none;
    max-width: 60rem;
    padding: 1rem;
    margin: auto;
      
}

/*Menú de navegación*/

nav a {
   text-decoration: none;
   font-size: 1.2rem;
   
    
}   
nav ul {
    display: flex; /*mueve a todo como un bloque*/
    justify-content: center; 
    list-style-type: none;
    gap: 20px; /*espacio estre los titulos de los links*/
    background-color: antiquewhite;
  
}

a:link {
    color: #03745d;
}

a:visited {
    color: #03745d;
}

a:hover {
    color: #be4dbe;
}

a:active {
    color: #be4dbe;
}

#contenedor  {
    max-width: 100%;
}

    
/*Pie de página*/
footer {
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}  
